<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title}}: {{ title }}</title>
    <meta name=description content="{{ metadata.subtitle }}" >
    <link rel="stylesheet" href="/assets/main.css" media="all" type="text/css" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <style>
    </style>
    <meta name="twitter:card" content="summary" /> 
    <meta name="twitter:site" content="@mitchejj" /> 
    <meta name="twitter:title" content="{{ metadata.title}}: {{ title }}" /> 
    <meta name="twitter:description" content="{{ metadata.subtitle }}" /> 
    <!-- fix later when I have better image logic
        for now this should render correctly for backlog pages
    --!>
    <meta name="twitter:image" content="{{ meta.image.url }}" />
</head>
