---
layout: skel.hbs
bg-color: bg-white
---
<div  class="vh-50-min font-sans mb-5">
    {{# if hasWarning }}
        {{> partials/components/weblog }}
    {{/if}}
    <article class="">
        <header class="{{ css.sane_space }}  border-b">
            {{# if dispatch }}
                <span class="block align-baseline text-sm text-blue-300 font-semibold">
                <a href="{{ dispatch}}">&#10070; {{ getDomain dispatch }}</a></span>
            {{/if}}
            {{# if title }}
            <h3 class="text-3xl inline-block">{{{ title }}} </h3>
            <h4 class="ml-2 -mt-2 text-2xl inline-block text-gray-500"> {{{ subtitle }}}</h4>
        </header>
        {{/if}}
        {{# if hasDate }}
        <div class= "{{ css.sane_space }}  mb-3 text-sm text-gray-400 font-semibold">
            <time>{{ rfc3339 page.date }}</time>
        </div>
        {{/if}}
        <div class="{{ css.sane_space }} markdown tracking-wide">
            {{{ content }}}
        </div>
    </article>
</div>
