---
layout: skel.hbs
bg-color: bg-white
---
<main class="vh-50-min font-sans">
    <div  class="mb-5">
        {{# if hasWarning }}
        <div class="{{ css.sane_space }} text-center text font-medium p-3
        bg-red-300">This post has been archived, restoration is in process.</div>
        {{/if}}
        <article class="markdown">
            {{# if title }}
            <h3 class="{{ css.sane_space }} border-b"> {{{ title }}} </h3>
            {{/if}}
            {{# if hasDate }}
            <div class= "{{ css.sane_space }} -mt-3 mb-3 text-sm text-gray-400 font-semibold">
                <time>{{ rfc3339 page.date }}</time>
            </div>
            {{/if}}
            <div class="{{ css.sane_space }} tracking-wide">
                {{{ content }}}
            </div>
        </article>
    </div>
</main>
